<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.sx.phoneguard"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_CALL_LOG"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.HomeActivity">
            <intent-filter>
                <action android:name="com.sx.home"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.LostFindActivity">
        </activity>
        <activity android:name=".activities.Setup1Activity">
        </activity>
        <activity android:name=".activities.Setup2Activity">
        </activity>
        <activity android:name=".activities.Setup3Activity">
        </activity>
        <activity android:name=".activities.Setup4Activity">
        </activity>

        <!--
        <receiver
            android:name=".receiver.SmsReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="2147483647">
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
        -->
        <receiver
            android:name=".receiver.MyDeviceAdminReceiver"
            android:description="@string/sample_device_admin_description"
            android:label="@string/sample_device_admin"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_sample"/>

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".service.LocationService"
            android:enabled="true"
            android:exported="true">
        </service>

        <receiver
            android:name=".receiver.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.MyAppWidgetProvider"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/process_widget_provider"/>
        </receiver>

        <activity android:name=".activities.FriendsActivity">
        </activity>
        <activity android:name=".activities.SettingActivity">
        </activity>

        <service
            android:name=".service.StartSmsreceiverService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity android:name=".activities.CommunicationGuardActivity">
        </activity>
        <activity android:name=".activities.CommunicationGuardActivityPage">
        </activity>
        <activity android:name=".activities.SmsActivity">
        </activity>
        <activity android:name=".activities.TelActivity">
        </activity>

        <service
            android:name=".service.BlackService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity android:name=".activities.AToolsActivity">
        </activity>
        <activity android:name=".activities.PhoneLocationActivity">
        </activity>

        <service
            android:name=".service.PhoneLocationService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity android:name=".activities.AppManagerActivity">
        </activity>
        <activity android:name=".activities.TaskManagerActivity">
        </activity>
        <activity android:name=".activities.TaskManagerSettingActivity">
        </activity>

        <service
            android:name=".service.LockClearService"
            android:enabled="true"
            android:exported="true">
        </service>
        <service
            android:name=".service.AppWidgetService"
            android:enabled="true"
            android:exported="true">
        </service>

        <receiver
            android:name=".receiver.LockCleraReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.sx.aaa"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
